<h1> Post Index </h1>
 <% @posts.each do |post| %>
 <p><%= link_to post.description, post %></p>
 <% if current_user && post.user == current_user %>
          <div class="actions">
            <%= link_to edit_post_path(post) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
 <% end %>
